.SearchForm {
  background-color: #34919e;
  grid-area: SearchForm;
  display: flex;
  padding: 0 1rem;

  justify-content: center;
  align-items: center;
}
.SearchForm-group {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.SearchForm-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  margin: 0;
  font-size: 1rem;
}

.SearchForm-input:focus {
  outline: none;
}

.SearchForm-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.SearchForm-suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.SearchForm-suggestions > li {
  font-size: 1.2rem;
  background-color: white;
  border-top: 1px solid black;
  text-align: left;
  padding: 0.5rem;
}

.SearchForm-suggestions > li:hover {
  background-color: lightgray;
  cursor: pointer;
}
