.SearchInput {
  position: relative;
  background-color: #34919e;
  grid-area: SearchInput;
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
}
.SearchInput-group {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.SearchInput-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  margin: 0;
  font-size: 1rem;
}

.SearchInput-input:focus {
  outline: none;
}

.SearchInput-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.SearchInput-suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.SearchInput-suggestions > li {
  font-size: 1.2rem;
  background-color: white;
  border-top: 1px solid black;
  text-align: left;
  padding: 0.5rem;
}

.SearchInput-suggestions > li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.SearchInput-error {
  background-color: #e63946;
  width: 100%;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  position: absolute;
  top: 100%;
}
