.WeatherItem {
  display: flex;

  justify-content: space-between;
  border-bottom: 1px solid #e76f51;
  /* align-items: center; */
  padding: 1rem;
  color: #bbc9d0;
}

.WeatherItem-icon {
  width: 75px;
}
.flex {
  display: flex;

  flex-grow: 1;
}

.WeatherItem-data {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.WeatherItem-data-avgtemp {
  font-size: 1.5rem;
}

.WeatherItem-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temperature-button {
  border: none;
  background: none;
  color: inherit;
  font-size: 1rem;
}

.temperature-button:hover {
  cursor: pointer;
}
.temperature-button:first-child {
  margin-bottom: 0.5rem;
}

.active {
  color: #fca311;
}
